fastapi
jinja2
langgraph
langchain-chroma
langchain-community
langchain-google-genai
langchain-huggingface
langchain-experimental
langchain-text-splitters
langchain_groq
langchain-ollama
pypdf
python-dotenv
python-multipart
rank-bm25
sentence-transformers
uvicorn
ddgs
crawl4ai
trafilatura
ragas
datasets
