fastapi
jinja2
langchain-chroma
langchain-community
langchain-google-genai
langchain-huggingface
langchain-experimental
langchain-text-splitters
pypdf
python-dotenv
python-multipart
rank-bm25
sentence-transformers
uvicorn
